{% extends "base.html" %}

{% block content %}
<h1>SIGN UP FORM</h1>
<form method='POST'>
    <label>USERNAME:
        <input  name="username" type="text" value='{{username}}' />
    </label>
    <span class="error">{{username_error}}</span>

    <p><label>PASSWORD:
            <input name="password" type="password" />
        </label>
        <span class="error">{{password_error}}</span></p>
    
    <p><label>VERIFY PASSWORD:
            <input name="verify_password" type="password"  />
        </label>
        <span class="error">{{verify_password_error}}</span></p>

        <p><label>EMAIL(Optional):
            <input name="email" type="text" value='{{email}}' />
        </label>
        <span class="error">{{email_error}}</span></p>
    
    
    <p><input type="submit" /></p>
</form>
{% endblock %}